<h1>Home page</h1>

<% if !@user %>
  <p>
    <%= link_to "Log in", signin_path %> or <%= link_to "sign up", signup_path %>
  </p>
<% else %>
  <p><%= link_to "Manage your account", account_path %></p>
<% end %>