<h1>Sign in using a passkey</h1>

<p>Click the button below to sign into this site using a passkey<p>

<div data-controller="webauthn">
  <button data-action="click->webauthn#verify">Use passkey</button>
</div>